@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {

    /* background-image: url('/Users/evangeliachatzilygeroudi/Desktop/desktop/TEST/CV-WEBSITE/photos/background image.png'); */
}

h1 {
    color: #4F4F4F;
    font-family: Montserrat;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 133%; /* 79.8px */
    letter-spacing: 9.6px;
    text-transform: uppercase;
    margin:0;
}
h2 {
    color: #81637E;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    margin:0;
 }

 .name {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 12.721px;
 }

 .photo-name {
    display: flex;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10% 7%;

 }

 .button2{
    display: flex;
    padding: 12.001px 16.502px;
    justify-content: center;
    align-items: center;
    gap: 37.504px;
    border-radius: 7.501px;
    background: #81637E;
    color: #FFF;
    color: #FFF;
font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 1.53px;

 }

 .buttons{
    display: flex;
    align-items: flex-start;
    gap: 30.003px;
 }

 .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 63px;
    
 }



 /* KIN */
 @media (max-width:500px) {
    h1{
        text-align: center;
        font-size: 26px;
    }

    h2{

    font-size: 16px;
    }
    .name {
    align-items: center;
 }

 .info {
    align-items: center;
    gap: 30.003px;
 }
 .photo-name {
    gap: 20px;

 }

 }

/* PROJECTS */
.projects {
display: inline-flex;
padding: 0px 103px;
align-items: flex-start;
gap: 59px;
flex-wrap: wrap;

}

.photo-name img {
 width: 240px;

}


/* lightoxxxx */


/* .gallery {
    display: flex;
    flex-wrap: wrap;
}

.pdf-link {
    margin: 10px;
}

.pdf-lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.pdf-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
} */


/* .projects-container img {
width:70%;
} */


/* PDF CONTAINER */

#pdfContainer {
    display: none;
    position: fixed;
    /* top: 60%; */
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 1000px;
    /* height:100vh; */
}

#closeButton {
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    background-color: #81637E;
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    color: white;
}

#closeButton:hover{
    background-color: #f4e5f3;
    color: #81637E;
    transition: 5ms ease-in;
   
}



/* DESIGN PROJECTS */
.desprojprev {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 25px;
    flex-wrap: wrap;
margin:5%;

}

  /* DESIGN PROJECTS MOBILE*/
@media (max-width:500px) {
    .desprojprev{
        scale: 0.7;
    }
}



/*  CONTACT */
a {
    text-decoration: none;
    color: #FFF;
}

/* search hover project name */
.desprojprev-container a {
    color:#81637E;
    font-weight: 500;
}

/* .design-projects img:hover {
    background-color: #81637E;
} */


/* PROJECTS HOVER */
/* .desprojprev1:hover #previewImage {
    transform: scale(1.1); 
    transition: transform 0.3s ease-in-out;
  }

  .desprojprev1:hover .explore-icon {
    opacity: 1;
    transform: translateY(-50%);
  }

  .explore-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.7s ease-in-out, transform 0.3s ease-in-out;
  } */


  .desprojprev-container{
    position: relative;
    display: inline-flex;
    width:600px;
  }

  /* KIN NEO */
  @media (max-width:500px) {
    .desprojprev-container img{
        /* width:300px; */
    }
  }

  .desprojprev-container:hover > img {
    opacity: 0.05;
    transition: 5ms ease-in;
    box-shadow: 0px 4px 14px 0px rgba(107, 107, 107, 0.25);
  }

  .desprojprev-container:hover .other {
    opacity: 1;
}


    .other{
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        left:-300px;
        bottom:-90%;
        /* top: 50%;
        left: 50%; */
        transform: translate(-50%, -50%);
        /* -ms-transform: translate(-50%, -50%); */
        text-align: center;
    
    }


    #previewImage:hover {
        /* transform: scale(1.01); */
        transition: 0.6s ease-out;
        cursor: pointer;
      }

    .projPlusPdf{
        display: flex;
    }


.hover-container{
    display: inline-flex;
    /* justify-content: center;
    align-items: center;
    flex-direction: column; */
    position: relative;
}


.abs-position1{
    position: absolute;
bottom:-150px;
left:350px;
}


.abs-position2{
    position: absolute;
    bottom: 10px;
    left: 480px;
    opacity: 0;
    }

    .link:hover a .abs-position2 {
        opacity: 1;
    }



    /* TOOLTTIP */
    .tooltip {
        display: inline-block;
        position: absolute;
        background-color: black;
        color: aliceblue;
        padding: 8px 15px;
        border-radius: 3px;
        /* margin-top: -26px; */
        margin-top: -4px;
        /* left: 90px; */
        left: 150px;
        right:20px;
        opacity: 0;
        /* visibility: hidden; */
        font-size: 13px;
        /* letter-spacing: .5px; */

    }
    .tooltip::after {
            content: '';
            display: block;
            position: absolute;
            /* left: -4px;
            top: 10px; */
            left:115px;
            top:10px;
            transform: rotate(311deg);
            /* transform: rotate(45deg); */
            width: 20px;
            height: 10px;
            background-color: inherit;
        }
    a:hover .tooltip {
    /* visibility: visible; */
            opacity: 1;
        }



    .hr-lines {
        display: flex;
        justify-content: center;
    }

    hr {
        width:200px;
        border: 1px solid #81637E;
        height: 0.1px;
        border-radius: 100px;
        opacity: 0.65;
    }

    @media screen and (max-width: 500px) {
        hr {
            width: 80px;
        }
    }
        
    }

    .design-projects {
        display: flex;
        flex-direction: column;
        gap:5px;
    }

    .proj-title{
    opacity: 0.65;
    }


  /* search icon and project name */
    .link {
    display: flex;
    gap:10px;
    flex-direction: column;
    position: relative;
    align-items:center;
    width:400px;
    }

    .design-proj-flex{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: center;
    }


    @media (max-width:500px) {
        .design-proj-flex {
            justify-content: flex-start;
        }
    }



    p {
        margin:0px;
    }

    .dev-projects{

        margin-top: 50px;
    }

    .desprojprev-container:hover {
        transform: scale(1.06);
        transition: 0.6s ease-out;

/* SHA */
box-shadow: 0px 4px 30px 0px rgba(169, 61, 184, 0.07);

    }




